@import susy

+border-box-sizing

$total-columns: 12
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width

.container
  +container
  // +susy-grid-background

.string
  +span-columns(12, 12)
  border-style: dashed
  border-width: 0.3em
  border-color: black

  canvas
    display: block
    width: 100%
    height: 40em

textarea.string-modes
  width: 40em
  height: 10em
