!!! 5
%html
  %head
    %meta(charset="utf-8")
    %link(href="/styles/screen.css" rel="stylesheet" type="text/css")
    %title String
  %body
    .container
      .string(data-string="main")
        %canvas.string-display
      .string-controls(data-string="main")
        %textarea.string-modes
          [[ { "n": 1, "a": 0.5, "b": 0 }, { "n": 2, "a": 0.5, "b": 0 } ], []]

      %script(src="/js/index.js")
